.zooEtcLogo {
    max-height: 75px;
    margin: -5px
}

.loginForm {
    width: auto;
    min-width: 300px;
    margin-bottom: 60px;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.loginLogo {
    margin-top: 60px;
    max-width: 500px;
}

