.gearCard {
    width: 20rem;
    margin: 10px;
    padding: 5px;
    height: 33rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    border: 1px solid lightgrey;

}

.siderGear {
    background-color: white !important;
}

.gearItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gearCardLink {
    font-size: 20px;   
}

.gearImage {
  margin: 10px;
  max-width:15rem;
  max-height:10rem;
  width: auto;
  height: auto;
}

.gearRating {
    font-size: 14px;
    color: #005626;
}

.cardTitle {
    text-align: center;
}

.contentGear {
    margin: 10px;
}

.gearRatingR {
    margin: 10px;
    font-size: 14px;
    color: #005626;
}

.gearReviewCard {
    margin: 5px;
    background-color: #cad6cf;
    text-align: left;
}

.gearReviewCardFooter {
    text-align: right;
    
    
}