.gearCard {
    width: 20rem;
    margin: 10px;
    padding: 5px;
    height: 350px;
}

.gearItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gearCardLink {
    font-size: 20px;
}
