.gearCard {
    width: 20rem;
    margin: 10px;
    padding: 5px;
    height: 30rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.gearItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gearCardLink {
    font-size: 20px;
}

.gearImage {
  margin: 10px;
  max-width:15rem;
  max-height:10rem;
  width: auto;
  height: auto;
}